# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\xampp\htdocs\github\Storm_Code\School\Jaar 2\Periode_2\java\eindopdacht\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
