.menu{
    height:250px;
    background-color:rgb(0, 95, 95);
    text-align: center;
    margin:10px;
    border-radius: 10px;
}
.main{
    height:700px;
    background-color:rgb(0, 95, 95);
    text-align: center;
    margin:40px;
    margin-top: 10px;
    border-radius: 10px;
    padding-top:30px;
}
.profiel{
    height: 160px;
    background-color:rgb(0, 95, 95);
    text-align: center;
    margin:10px;
    border-radius: 10px;
}
.logo{
    padding-top: 10px;
    width: 150px;
    height: 100px;
    border-radius: 50px;
    margin-bottom: 10px;
}
.title{
    font-size:30px;
    color: rgb(0, 158, 197);
}
ul{
   list-style-type: none;
   padding-right: 35px;
   overflow: hidden;
}
.message{
    background-color: #002e77 !important;
    border-radius: 10px;
    width: 650px;
    text-align: left;
    margin-bottom: 20px;
    overflow:hidden;
    border: solid 10px;
    margin-left: 100px;
    color: rgb(0, 158, 197) !important;
}
body{
    background-color:#2c3338 !important;
}
.txtmsg{
    background-color: #002e77;
    border-radius: 10px;
    width: 650px;
    text-align: left;
    overflow:hidden;
    border: solid 10px #002e77 !important;
}
a{
    color: rgb(0, 158, 197) !important;
}
.msgimg{
    height:60px;
    width:60px;
    border-radius: 30px;
}